body {  font-family: 'Special Elite';font-size: 22px;
}

.daily{
    padding-top: 40px;
    h1
    {
        margin-bottom: 20px;
    }
}

.description{
    h2, h3 {color: #95241B;}
}
.f250div {
   
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;

  

    .workout {
        margin-bottom: 30px;

        .title {}

        .note {
            font-size: 1.2em;
        }

        .exercises {
            display: table;
            width: auto;
            border: 1px solid #666666;
            border-spacing: 5px;
            h3{text-align: center;}
            margin: auto;
            /*cellspacing:poor IE support for  this*/
            /* border-collapse:separate;*/
            .exerciserow {
                display: table-row;
                width: auto;
            }

            .exercise {
                float: left;
                /*fix for  buggy browsers*/
                display: table-column;
                width: 200px;
            }
            .exerciserep
            {
                float: left;
                /*fix for  buggy browsers*/
                display: table-column;
                width: 100px;
            }
        }
    }
}

.container {
    max-width: 100%;
}